/* UserList.css */
* {
  background: #d3f4f5;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  border: 1px solid #ddd;
  margin: 4px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
  font-family: monospace;
  font-size: 15px;
}