.Nav {
  padding: 10px;
  font-family: 'jost';
  text-align: right;
}

.Nav a {
  text-decoration: none;
}

.Nav a:hover {
  color: rgb(105, 105, 232);
  text-decoration: underline;
}

.cards {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  padding: 10px;
  font-family: 'jost';
  font-size: 16px;
  text-decoration: underline;
  /* text-decoration-style: wavy; */
  text-decoration-color: rgb(3, 62, 3);
}

.forms {
  margin: 20px;
  width: 80%;
  color: rgb(105, 105, 232);
}
